[user]
  email = n4mlz.dev@gmail.com
  name = n4mlz
  signingkey = ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAIPZ5m8ZvMSzDJVe1xUVxqKKNHbbxQmyf5SXpjksxpsci

{{- if or (lookPath "/opt/1Password/op-ssh-sign") (eq .chezmoi.hostname "mimosa") }}
[gpg]
  format = ssh
{{- end }}

{{- if lookPath "/opt/1Password/op-ssh-sign" }}
[gpg "ssh"]
  program = "/opt/1Password/op-ssh-sign"
{{- else if eq .chezmoi.hostname "mimosa" }}
[gpg "ssh"]
  program = "/mnt/c/Users/aporo/AppData/Local/1Password/app/8/op-ssh-sign.exe"
{{- end }}

{{- if or (lookPath "/opt/1Password/op-ssh-sign") (eq .chezmoi.hostname "mimosa") }}
[commit]
  gpgsign = true
{{- end }}

[color]
  ui = true

[core]
  editor = vim
	fileMode = false
  {{- if eq .chezmoi.hostname "mimosa" }}
  sshCommand = ssh.exe
  {{- end }}

[init]
  defaultBranch = main

[http]
	postBuffer = 524288000

[alias]
  st = status --short
  co = checkout
  br = branch
  c = commit -m
  a = add
  l = log --oneline
  d = diff
  p = push
  pl = pull
  f = fetch

[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
